@charset "utf-8";
/* CSS Document */
main p, main h2{
    color:black;
}
iframe{
	width:100%;
	height:200px;
}
div{
	color:#FFF;
	padding-left:20px;
}
table{
        margin:20px;
        color:black;
    }
    th{
        line-height:0;
        padding-top:8px;
        margin:0;
        color:#000;
        width:200px;
        vertical-align:top;
    }
p, h2 {
   text-align:center;
   font-family: 'Bree Serif', serif;
   word-spacing:3px;
   
}
	#Hfname, #Hlname,#Hemail, #HareaCode,#Hphone,#Hdate,#Htime{
		 line-height:0;
		 float:left;
		 color:#000;
	 }
	#Hfname,#Hlname{	
		padding:10px 0 10px 0;
		margin:0;
	}
	#Hemail{
		padding:10px 0 10px 0;
		margin:0; 
	}
	#HareaCode{
		padding:10px 0 10px 0;
		margin:0; 
	}
	#Hphone{
		padding:0;
		margin-left:25px; 
	}


